.home{
  &__banner{
    @include fluidx(591px,300px,min-height);
    @include media-breakpoint-up('m'){
      //min-height: 591px;
    }
    &__overlay{
      background: rgba($color2, 0.41);
    }
    &__title{
      @extend .fz-48;
      font-family: $font-RobotoCondensed-Bold;
    }
    &__desc{
      @extend .fz-24;
      font-family: $font-RobotoCondensed-LightItalic;
    }
  }
  &__lagi{
    padding-top: 20px;
    @include media-breakpoint-up('m'){
      padding-top: 20px;
    }
    &__article{
      @extend .fz-24;
      color: $color2;
      font-family: $font-RobotoCondensed-Regular;
      >*{
        margin: 0 !important;
      }
    }
    &__breadcrumb{
      &__dc{
        @extend .fz-20;
        text-transform: capitalize;
        font-family: $font-RobotoCondensed-Regular;
      }
      >li{
        &:nth-child(n+2){
          &:before{
            $x: 10px;
            margin: 0 #{$x} 0 calc(#{$x} - 4px) !important;
          }
        }
        >a{
          @extend .home__lagi__breadcrumb__dc;
          color: $color3;
        }
        >span{
          @extend .home__lagi__breadcrumb__dc;
          color: $color2 !important;
        }
      }
    }
  }
  &__visao{
    &__dc{
      font-family: $font-RobotoCondensed-Bold;
      color: $color2;
    }
    &__title1{
      @extend .fz-30;
      @extend .home__visao__dc;
      &--c1{
        @extend .fz-24;
      }
      span{
        border-bottom: 1px solid $color2;
      }
    }
    &__title2{
      @extend .home__visao__dc;
      @extend .fz-24;
      span{
        border-bottom: 1px solid $color2;
      }
    }
    &__desc{
      @extend .home__lagi__article;
    }
  }
  &__quytrinh{
    &__article{
      @extend .home__visao__desc;
      >*{
        &:nth-child(n+2){
          margin-top: 15px !important;
        }
      }
    }
  }
  &__banggia{
    &__table{
      &__dc{
        border: 1px solid $color2;
        @extend .home__visao__desc;
      }
      tr{
        td{
          @extend .home__banggia__table__dc;
        }
        th{
          @extend .home__banggia__table__dc;
        }
      }
    }
  }
  &__lienhe{
    &__content{
      @extend .home__visao__desc;
      > *{
        span{
          color: red;
        }
        &:nth-child(n+2){
          margin-top: 15px !important;
        }
      }
    }
  }
}